<% provide(:title, "出勤中社員一覧") %>
<h1>出勤中社員一覧</h1>
<div>
  <table class="table table-bordered table-condensed table-hover text-center table-striped" id="index_attendance">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>  
    </thead>
    <tbody>
      <tbody>
   <% @now_users.each do |employee_number,name| %>
        <tr>
          <td class="center"><%= employee_number %></td>
          <td class="center"><%= name %></td>
        </tr>
   <% end %>
</tbody>
  </table>
</div>
